body {
  height: 100vh;
  /* background-color: black; */
}

.table-container {
  max-width: 800px;
  margin: 0 auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 8px;
  border: 1px solid #ddd;
}

.table-container th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-container tbody tr:hover {
  background-color: #f9f9f9;
}

.table-container input,
.table-container select {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.table-container .btn {
  padding: 6px 12px;
  margin: 4px;
}

.container {
  max-width: 400px;
  margin-top: 16px;
}

.container h3 {
  margin-bottom: 8px;
}
.h1GPA {
  text-align: center;
}
.buttonCalculator {
  background-color: rgb(49, 113, 197);
  border: 1px solid;
  margin: 1rem 0rem;
  padding: 0.3rem 1rem;
  color: white;
}
.buttonCalculator:hover {
  background-color: white;

  color: black;
}

/* ################################################## */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin: 1rem;
  height: calc(100% - 2rem);
  /* background: #f4f4f4; */
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  top: 0;
  translate: 0% -45%;
}

.credit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  font-family: arial;
}

.switch {
  position: relative;
  overflow: hidden;
  width: 7.5rem;
  height: 4rem;
}

.switch input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.switch label {
  cursor: pointer;
}

.background {
  z-index: 1;
  position: absolute;
  width: 7.5rem;
  height: 4rem;
  border-radius: 2.5rem;
  border: 0.25rem solid #202020;
  background: linear-gradient(to right, #484848 0%, #202020 100%);
  transition: all 0.3s;
}

.fill {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 2rem;
  left: 0;
  /* background: #484848; */
  transition: 0.75s all ease;
}

.switch input:checked ~ .fill {
  /* background: #e9f8fd; */
}

.stars1,
.stars2 {
  position: absolute;
  height: 0.4rem;
  width: 0.4rem;
  background: #ffffff;
  border-radius: 50%;
  transition: 0.3s all ease;
}

.stars1 {
  top: 6px;
  right: 23px;
}

.stars2 {
  top: 40px;
  right: 48px;
}

.stars1:after,
.stars1:before,
.stars2:after,
.stars2:before {
  position: absolute;
  content: "";
  display: block;
  height: 0.25rem;
  width: 0.25rem;
  background: #ffffff;
  border-radius: 50%;
  transition: 0.2s all ease;
}

.stars1:after {
  top: 8px;
  right: 20px;
}

.stars1:before {
  top: 18px;
  right: -12px;
}

.stars2:after {
  top: -8px;
  right: -16px;
}

.stars2:before {
  top: 6px;
  right: -26px;
}

.sun-moon {
  z-index: 2;
  position: absolute;
  left: 0;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
  background: #fffdf2;
  border-radius: 50%;
  transition: all 0.5s ease;

  /* Default to Moon */
  border: 0.25rem solid #dee2c6;
}

.sun-moon .dots {
  position: absolute;
  top: 3px;
  left: 23px;
  height: 1rem;
  width: 1rem;
  background: #efeedb;
  border: 0.25rem solid #dee2c6;
  border-radius: 50%;
  transition: 0.4s all ease;
}

.sun-moon .dots:after,
.sun-moon .dots:before {
  position: absolute;
  content: "";
  display: block;
  height: 0.25rem;
  width: 0.25rem;
  background: #efeedb;
  border: 0.25rem solid #dee2c6;
  border-radius: 50%;
  transition: 0.4s all ease;
}

.sun-moon .dots:after {
  top: -4px;
  left: -26px;
}

.sun-moon .dots:before {
  top: 18px;
  left: -10px;
}

/* Transition to Sun */

.switch input:checked ~ .sun-moon {
  left: calc(100% - 4rem);
  background: #f5ec59;
  border-color: #e7c65c;
  transform: rotate(-25deg);
}

.switch input:checked ~ .sun-moon .dots,
.switch input:checked ~ .sun-moon .dots:after,
.switch input:checked ~ .sun-moon .dots:before {
  background: #ffffff;
  border-color: #ffffff;
}

.switch input:checked ~ .sun-moon .dots {
  height: 1.5rem;
  width: 1.5rem;
  top: 0px;
  left: -20px;
  transform: rotate(25deg);
}

.switch input:checked ~ .sun-moon .dots:after {
  height: 0.65rem;
  width: 0.65rem;
  top: 2px;
  left: -12px;
}

.switch input:checked ~ .sun-moon .dots:before {
  height: 0.4rem;
  width: 0.4rem;
  top: 6px;
  left: 14px;
}

.switch input:checked ~ .background .stars1,
.switch input:checked ~ .background .stars2 {
  opacity: 0;
  transform: translateY(2rem);
}

.switch input:checked ~ .background {
  border: 0.25rem solid #78c1d5;
  background: linear-gradient(to right, #78c1d5 0%, #bbe7f5 100%);
}

body {
  background-color: white;
}

body.night-mode {
  background-color: rgb(35, 39, 47);
}

body.night-mode .h1GPA,
body.night-mode label,
body.night-mode h3,
body.night-mode .gpa {
  color: white; /* Text color for labels, h3, and .gpa class in night mode */
}
body.night-mode th,
body.night-mode .buttonCalculator {
  background-color: rgb(67, 124, 173);
}
.gpa {
  font-size: 2rem;
}
@media (max-width: 1024px) {
  .h1GPA,
  table {
    margin-top: 100px; /* Adjust the margin-top value for iPads */
  }
}
